<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update profile</title>
    <style>
        body{
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 8%;
            text-align: center;
            background-color: aquamarine;
        }
        button:hover{
            cursor:pointer
        }
    </style>
</head>
<body>
    <h1>Update your profile info</h1>
    <br>

    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        First Name<br>
        {{user_form.first_name}}<br><br>
        Last Name<br>
        {{user_form.last_name}}<br><br>
        Email<br>
        {{user_form.email}}<br><br>
        Username<br>
        {{user_form.username}}<br><br>
        <br>
        Profile Picture<br>
        {{picture_form.profile_pic}}<br><br>

        <!-- {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %} -->
        <button type="submit" style="background-color: aqua; width: 120px; height: 35px; font-size: medium; border-color: rgb(52, 81, 136);">Save</button>
    </form>
    
</body>
</html>
